In [1]:
import pandas as pd
import networkx as nx

In [2]:
df = pd.read_csv("data/btc_tx_2011_2013.csv")

,from,to,datetime,amount
0,0437cd7f8525ceed2324359c2d0ba26006d92d856a9c20...,f4184fc596403b9d638783cf57adfe4c75c605f6356fbc...,2009-01-09,50.000000
1,f4184fc596403b9d638783cf57adfe4c75c605f6356fbc...,ea44e97271691990157559d0bdd9959e02790c34db6c00...,2009-01-12,10.000000
2,f4184fc596403b9d638783cf57adfe4c75c605f6356fbc...,a16f3ce4dd5deb92d98ef5cf8afeaf0775ebca408f708b...,2009-01-12,40.000000
3,a16f3ce4dd5deb92d98ef5cf8afeaf0775ebca408f708b...,591e91f809d716912ca1d4a9295e70c3e78bab077683f7...,2009-01-12,30.000000
4,591e91f809d716912ca1d4a9295e70c3e78bab077683f7...,298ca2045d174f8a158961806ffc4ef96fad02d71a6b84...,2009-01-12,1.000000
...,...,...,...,...
66199068,7ebd2c87efead031e8b6aeecc1ef4032551d9580726a1f...,5c6684d182093e8a8cbf8434f6dbb6c0a69684885b5c22...,2014-01-02,0.610000
66199069,6556332ea7196ac64e29d78576a7a6cdc4cbfecbd29f47...,653cab2118c19528ef711d45e5af39971f00e307da3ef4...,2014-01-02,0.026032
66199070,ddce84f4e7da169c0d470cd8c090e2c6be862d458b4f1c...,653cab2118c19528ef711d45e5af39971f00e307da3ef4...,2014-01-02,0.009715
66199071,e649a0bc622c6c499e81f85bae2ba95b588a7148b84509...,86985d45d89f3ad367cbbb96b3a1b2119ed8ed103be124...,2014-01-02,0.023515
66199072,dd1f4e539ed444b62a947cdd2a37070ac5fd8ca222ec36...,b6214ee47b3422f20b6c06349d6a704baca73c56dd7bb9...,2014-01-02,0.027860

In [3]:
dates = df['datetime'].unique()

In [6]:
list(dates).index('2010-11-01')

655

In [7]:
list(dates).index('2013-12-30')

1815

In [13]:
1815-655

1160

In [15]:
list(dates)
import pickle
>>> 
>>> with open('parrot.pkl', 'wb') as f:
...   pickle.dump(mylist, f)

['2013-12-30', '2013-12-31', '2014-01-01', '2014-01-02']

In [5]:
metrics=[]

In [6]:
index = 0
for date in dates:
    print(index,end='\r')
    index +=1
    x = nx.from_pandas_edgelist(df[df["datetime"]==date],source="from",target ="to", create_using=nx.DiGraph())
    average_clustering = nx.average_clustering(x)
    density = nx.density(x)
    #average_degree_connectivity = nx.average_degree_connectivity(x)
    number_of_edges = x.number_of_edges()
    number_of_nodes = x.number_of_nodes()
    degree_assortativity_coefficient = nx.degree_assortativity_coefficient(x)
    metrics.append([average_clustering, density, number_of_edges ,number_of_nodes ,degree_assortativity_coefficient])

D:\Anaconda\lib\site-packages\networkx\algorithms\assortativity\correlation.py:287: RuntimeWarning: invalid value encountered in double_scalars
  return (xy * (M - ab)).sum() / numpy.sqrt(vara * varb)

D:\Anaconda\lib\site-packages\networkx\algorithms\assortativity\correlation.py:287: RuntimeWarning: divide by zero encountered in double_scalars
  return (xy * (M - ab)).sum() / numpy.sqrt(vara * varb)

D:\Anaconda\lib\site-packages\networkx\algorithms\assortativity\correlation.py:287: RuntimeWarning: invalid value encountered in sqrt
  return (xy * (M - ab)).sum() / numpy.sqrt(vara * varb)

In [7]:
df = pd.DataFrame(metrics, columns=["average_clustering", "density", "number_of_edges", "number_of_nodes", "degree_assortativity_coefficient"])
df.to_csv("data/daily_metrics_2011_2013.csv",index=False)