In [ ]:
data = pd.read_csv("btc_tx_2011_2013.csv") #13- 14 - 15 e bakalim corr var mi hangi featurelar arasi average shortest path length etc.
# flow bazli metrikler
# her biri icin graph olusturulup time seriese bagli graphlar
# makalelerdeki featurelar (stanford 2015 | Group work) aynilarini deneriz
# 100k nodes randomly sampled, multiple times. Per month and closure price, price changing return % 
# pearson spearman corrs

In [ ]:
data.head()

In [ ]:
data.columns = ["tx_hash_from","tx_hash_to","datetime","amount_bitcoins"]

In [ ]:
data

In [ ]:
data.describe()

In [ ]:
data.info()

In [ ]:
data.shape

In [ ]:
data["datetime"]=pd.to_datetime(data["datetime"])
data["datetime"] = data["datetime"].dt.date

In [ ]:
data

In [ ]:
df = data.sort_values(by= ["datetime"])

In [ ]:
df.to_csv('Sorted.csv')

In [3]:
df = pd.read_csv("Sorted.csv")

In [4]:
df["datetime"]=pd.to_datetime(df["datetime"]).dt.date

In [6]:
sliced = slice_by_weeks(df.drop(0))

In [45]:
with open('slices2.pkl', 'wb') as f:
    pickle.dump(sliced[150:], f)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import networkx as nx
from datetime import datetime, timedelta
import gc
import pickle

In [2]:
def slice_by_weeks(df):
    groups = []
    prev= df["datetime"].iloc[0]
    prev_index = 0
    for i in range(df.shape[0]):
        if (df["datetime"].iloc[i] - prev).days >= 7:
            groups.append(df.iloc[prev_index:i])
            prev = df["datetime"].iloc[i] - timedelta(df["datetime"].iloc[i].weekday())
            prev_index=i
    return groups

def createGraph(data): # directed graph
    G=nx.from_pandas_edgelist(data,source="tx_hash_from",target ="tx_hash_to", edge_attr="amount_bitcoins", create_using=nx.DiGraph())
    return G

In [3]:
with open('slices.pkl', 'rb') as f:
    sliced = pickle.load(f)

In [4]:
len(sliced)

170

In [10]:
graphs = []
index =130
for i in sliced[150:]:
    graphs.append(createGraph(i))
    index+=1
    print(index, end="\r")

In [11]:
with open('graphs150-170.pkl', 'wb') as f:
    pickle.dump(graphs, f)

In [ ]:
df.drop(0)

In [ ]:
datetime(2009,1,12).weekday()

In [16]:
sliced[169]

,tx_hash_from,tx_hash_to,datetime,amount_bitcoins
65123430,c8991353a7498d3b96be10d01df0ab6e3313d867df5ec2...,324c6d807328caf13400606687b309cebef9e36aac18d1...,2013-12-23,0.090000
65123431,f2d184b164d848aae32ba6d1cd47ea54911514ca2e5f68...,85c6192608655c2de370ab70bfed6021ac41e9d360007e...,2013-12-23,0.323200
65123432,f2d184b164d848aae32ba6d1cd47ea54911514ca2e5f68...,97fcd28f0905fcaf3db6a9e0dd679239b50193ddb10270...,2013-12-23,0.361200
65123433,0205a3387132ed3ba282de64141020141efc299e608753...,2c0d995cf888d2572615dbb0ee2616f2ee1b3d006730e0...,2013-12-23,0.103400
65123434,0205a3387132ed3ba282de64141020141efc299e608753...,d099e61a90e0770e920989f255ee46800eda8fb4f97445...,2013-12-23,0.146500
...,...,...,...,...
65894508,41a850f9c8fdd48a9a776a09e3d96d0c77b38b4589e0f4...,9ec8f103d8fe31679d3771e02368ca53e2d9ffcf4da57a...,2013-12-29,0.130729
65894509,dc2db604fb5f8740005fc56481e9a2c0f70c21eba92bd4...,3da517409360d44a1399594f6c372c2c3113ca7872a72f...,2013-12-29,0.000588
65894510,cd1f9caac176b2e10b27fd95e3f834cef94ca00d401979...,4b3ddf880235bf0302bb56b01d433bb1983e2e1f576d64...,2013-12-29,0.040000
65894511,0d61a5f5c38856e9ba0b6c56617b1f9c9b155fdec95281...,eb4f563612a352727ca7cb1397259f18ee88e122c93e2b...,2013-12-29,0.040000
65894512,dc2db604fb5f8740005fc56481e9a2c0f70c21eba92bd4...,0cdd1e10a4f03671f45134559c99a595bc78b5393d4bbd...,2013-12-29,0.019900