In [1]:
import pandas as pd
import numpy as np
import tensorflow
import keras

In [34]:
df = pd.read_csv("weekly.csv")

In [35]:
df

              Date  Price   Open   High    Low     Vol  Change
0     Nov 01, 2010    0.2    0.2    0.2    0.2  21.26K   0.00%
1     Nov 02, 2010    0.2    0.2    0.2    0.2   5.85K   0.00%
2     Nov 03, 2010    0.2    0.2    0.3    0.1  61.47K   0.00%
3     Nov 04, 2010    0.2    0.2    0.2    0.2  29.70K   0.00%
4     Nov 05, 2010    0.3    0.2    0.3    0.2  36.62K   0.00%
...            ...    ...    ...    ...    ...     ...     ...
1151  Dec 26, 2013  802.0  707.3  829.6  707.2  23.53K  13.39%
1152  Dec 27, 2013  803.0  802.0  836.8  767.9  13.89K   0.13%
1153  Dec 28, 2013  762.0  803.0  806.0  715.6  13.34K  -5.11%
1154  Dec 29, 2013  785.0  762.0  804.0  735.0   7.04K   3.01%
1155  Dec 30, 2013  804.8  785.0  818.8  781.0  10.48K   2.53%

[1156 rows x 7 columns]

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1264 entries, 0 to 1263
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    1264 non-null   object
 1   Price   1264 non-null   object
 2   Open    1264 non-null   object
 3   High    1264 non-null   object
 4   Low     1264 non-null   object
 5   Vol     1264 non-null   object
 6   Change  1264 non-null   object
dtypes: object(7)
memory usage: 69.2+ KB