In [1]:
import pandas as pd

In [2]:
market_data = pd.read_csv("./data/Bitcoin Price Monthly 2022 to 2010.csv")

In [9]:
#market_data = market_data.iloc[::-1].reset_index().drop("index",axis=1)
market_data.to_csv("./data/Bitcoin Price Monthly 2022 to 2010.csv",index=False)

In [5]:
def volume_correcter(volume):
    letter = volume[-1]
    value = float(volume[:-1])
    if letter =="K":
        return value*1000
    elif letter =="M":
        return value*1000000
    elif letter =="B":
        return value*1000000000
    else:
        return float(volume)
def change_correcter(change):
    if change[:-1]=="%":
        return float(change[:-1])
    else:
        return change

In [6]:
for i in range(market_data.shape[0]):
    market_data["Vol."][i]= volume_correcter(market_data["Vol."][i])
    market_data["Change %"][i]= change_correcter(market_data["Change %"][i])

In [7]:
market_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141 entries, 0 to 140
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      141 non-null    object
 1   Price     141 non-null    float64
 2   Open      141 non-null    float64
 3   High      141 non-null    float64
 4   Low       141 non-null    float64
 5   Vol.      141 non-null    float64
 6   Change %  141 non-null    float64
dtypes: float64(6), object(1)
memory usage: 7.8+ KB

In [6]:
market_data.head()

      Date   Price  Open  High  Low       Vol.  Change %
0  Aug 2010    0.1   0.1   0.1  0.0   221740.0      0.00
1  Sep 2010    0.1   0.1   0.2  0.1   216810.0      0.00
2  Oct 2010    0.2   0.1   0.2  0.0  1110000.0    210.99
3  Nov 2010    0.2   0.2   0.5  0.1   826250.0      0.00
4  Dec 2010    0.3   0.2   0.3  0.2   263650.0     44.09

In [4]:
for col in market_data.columns:
    print(type(market_data[col][0]))

<class 'str'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>

In [3]:
market_data = pd.read_csv("./data/Bitcoin Price Weekly 2022 to 2010 .csv")

In [9]:
market_data = market_data.iloc[::-1].reset_index().drop('index',axis=1)

In [13]:
market_data.to_csv("./data/Bitcoin Price Weekly 2022 to 2010 .csv", index=False)

In [12]:
market_data

,"Date,",Price,Open,High,Low,Vol.,Change %
0,7/18/2010,0.1,0,0.1,0.1,6550.0,0.00%
1,7/25/2010,0.1,0.1,0.1,0.1,25290.0,0.00%
2,8/1/2010,0.1,0.1,0.1,0.1,28560.0,0.00%
3,8/8/2010,0.1,0.1,0.1,0.1,41260.0,0.00%
4,8/15/2010,0.1,0.1,0.1,0.1,46720.0,0.00%
...,...,...,...,...,...,...,...
610,3/27/2022,"45,811.00","44,542.00","48,199.00","44,261.00",3660000000.0,2.84%
611,4/3/2022,"42,767.00","45,813.00","47,435.00","42,113.00",3230000000.0,-6.64%
612,4/10/2022,"40,382.00","42,760.00","43,421.00","39,202.00",2490000000.0,-5.58%
613,4/17/2022,"39,418.00","40,382.00","42,969.00","38,577.00",2660000000.0,-2.39%
614,4/24/2022,"38,569.00","39,434.00","40,770.00","37,708.00",3350000000.0,-2.15%

In [14]:
for i in range(market_data.shape[0]):
    market_data["Vol."][i]= volume_correcter(market_data["Vol."][i])
    market_data["Change %"][i]= change_correcter(market_data["Change %"][i])

TypeError: 'float' object is not subscriptable