In [ ]:
#G = graphs[0]

In [ ]:
#nx.pagerank(G,alpha=0.1)

In [ ]:
#nx.average_shortest_path_length(G)

In [ ]:
#nx.betweenness_centrality(G)

In [ ]:
metrics = []

In [ ]:
with open('graphs0-80.pkl', 'rb') as f:
    graphs = pickle.load(f)
for x in graphs:
    average_clustering = nx.average_clustering(x)
    density = nx.density(x)
    average_degree_connectivity = nx.average_degree_connectivity(x)
    number_of_edges = x.number_of_edges()
    number_of_nodes = x.number_of_nodes()
    metrics.append([average_clustering,density,average_degree_connectivity,number_of_edges,number_of_nodes])

In [ ]:
with open('graphs80-130.pkl', 'rb') as f:
    graphs = pickle.load(f)
for x in graphs:
    average_clustering = nx.average_clustering(x)
    density = nx.density(x)
    average_degree_connectivity = nx.average_degree_connectivity(x)
    number_of_edges = x.number_of_edges()
    number_of_nodes = x.number_of_nodes()
    metrics.append([average_clustering,density,average_degree_connectivity,number_of_edges,number_of_nodes])

In [ ]:
with open('graphs130-150.pkl', 'rb') as f:
    graphs = pickle.load(f)
for x in graphs:
    average_clustering = nx.average_clustering(x)
    density = nx.density(x)
    average_degree_connectivity = nx.average_degree_connectivity(x)
    number_of_edges = x.number_of_edges()
    number_of_nodes = x.number_of_nodes()
    metrics.append([average_clustering,density,average_degree_connectivity,number_of_edges,number_of_nodes])

In [ ]:
with open('graphs150-169.pkl', 'rb') as f:
    graphs = pickle.load(f)
for x in graphs:
    average_clustering = nx.average_clustering(x)
    density = nx.density(x)
    average_degree_connectivity = nx.average_degree_connectivity(x)
    number_of_edges = x.number_of_edges()
    number_of_nodes = x.number_of_nodes()
    metrics.append([average_clustering,density,average_degree_connectivity,number_of_edges,number_of_nodes])

In [ ]:
with open('metrics.pkl', 'wb') as f:
    pickle.dump(metrics, f)

In [ ]:
df = pd.DataFrame(metrics, columns = ["average_clustering","density","average_degree_connectivity","number_of_edges","number_of_nodes"])

In [ ]:
df.to_csv("metrics.csv")

In [ ]:
#a =nx.k_core(graphs[0])

In [ ]:
#nx.draw(a)

In [ ]:
#nx.draw(x)

In [ ]:
#more metrics should be added

In [ ]:
df

In [ ]:
from dateutil.parser import parse
from datetime import datetime

In [ ]:
df["Date"] = df["Date"].apply(lambda x :datetime.strptime(parse(x).strftime('%m %d %Y'),'%m %d %Y').date() )

In [ ]:
df.iloc[0][0].weekday()

In [9]:
def formatter_change(x):
    if x.endswith("%") :
        x = x[:-1]
        return float(x)
def formatter_vol(x):
    if x.endswith("K") :
        x = x[:-1]
        return float(x) * 1000
def to_float(x):
    return float(x)

In [ ]:
df["Change"] = df["Change"].apply(formatter_change)

In [ ]:
df["Vol"] = df["Vol"].apply(formatter_vol)

In [ ]:
df.to_csv("market_data.csv", index=None)

In [ ]:
df.columns = ['Date', 'Price', 'Open', 'High', 'Low', 'Vol', 'Change']

In [1]:
import pickle
import networkx as nx
import pandas as pd

In [2]:
df = pd.read_csv("market_data.csv")

In [10]:
df['Price'] = df["Price"].apply(to_float)
df['Open'] = df["Open"].apply(to_float)
df['High'] = df["High"].apply(to_float)
df['Low'] = df["Low"].apply(to_float)

ValueError: could not convert string to float: '2021-01-01 00:00:00'

In [ ]:
prev = 0
for i in range(7,df.shape[0],7):
    slice = df.iloc[prev:i]
    prev = i

In [14]:
df

            Date  Price   Open   High    Low      Vol  Change
0     2010-11-01    0.2    0.2    0.2    0.2  21260.0    0.00
1     2010-11-02    0.2    0.2    0.2    0.2   5850.0    0.00
2     2010-11-03    0.2    0.2    0.3    0.1  61470.0    0.00
3     2010-11-04    0.2    0.2    0.2    0.2  29700.0    0.00
4     2010-11-05    0.3    0.2    0.3    0.2  36620.0    0.00
...          ...    ...    ...    ...    ...      ...     ...
1151  2013-12-26  802.0  707.3  829.6  707.2  23530.0   13.39
1152  2013-12-27  803.0  802.0  836.8  767.9  13890.0    0.13
1153  2013-12-28  762.0  803.0  806.0  715.6  13340.0   -5.11
1154  2013-12-29  785.0  762.0  804.0  735.0   7040.0    3.01
1155  2013-12-30  804.8  785.0  818.8  781.0  10480.0    2.53

[1156 rows x 7 columns]

In [8]:
df.iloc[0:7].Price[0]

'0.2'

In [13]:
df.Price[500:600]

500    2021-03-05 00:00:00
501    2021-03-05 00:00:00
502    2021-02-05 00:00:00
503    2021-03-05 00:00:00
504    2021-07-04 00:00:00
              ...
595    2021-03-06 00:00:00
596    2021-05-06 00:00:00
597    2021-07-06 00:00:00
598    2021-07-06 00:00:00
599    2021-06-06 00:00:00
Name: Price, Length: 100, dtype: object