In [1]:
import pandas as pd

In [2]:
market_data = pd.read_csv("./data/Bitcoin Price Monthly 2022 to 2010.csv")

In [9]:
#market_data = market_data.iloc[::-1].reset_index().drop("index",axis=1)
market_data.to_csv("./data/Bitcoin Price Monthly 2022 to 2010.csv",index=False)

In [4]:
def volume_correcter(volume):
    letter = volume[-1]
    value = float(volume[:-1])
    if letter =="K":
        return value*1000
    elif letter =="M":
        return value*1000000
    elif letter =="B":
        return value*1000000000
    else:
        return float(volume)
def change_correcter(change):
    if change[:-1]=="%":
        return float(change[:-1])
    else:
        return change

In [5]:
for i in range(market_data.shape[0]):
    market_data["Vol."][i]= volume_correcter(market_data["Vol."][i])
    market_data["Change %"][i]= change_correcter(market_data["Change %"][i])

C:\Users\TULPAR\AppData\Local\Temp/ipykernel_18268/757870162.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  market_data["Vol."][i]= volume_correcter(market_data["Vol."][i])
C:\Users\TULPAR\AppData\Local\Temp/ipykernel_18268/757870162.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  market_data["Change %"][i]= change_correcter(market_data["Change %"][i])
C:\Users\TULPAR\AppData\Local\Temp/ipykernel_18268/757870162.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  market_data["Vol."][i]= volume_correcter(market_data["Vol."][i])
C:\Users\TULPAR\AppData\Local\Temp/ipykernel_18268/757870162.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  market_data["Change %"][i]= change_correcter(market_data["Change %"][i])

In [7]:
market_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141 entries, 0 to 140
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      141 non-null    object
 1   Price     141 non-null    float64
 2   Open      141 non-null    float64
 3   High      141 non-null    float64
 4   Low       141 non-null    float64
 5   Vol.      141 non-null    float64
 6   Change %  141 non-null    float64
dtypes: float64(6), object(1)
memory usage: 7.8+ KB

In [6]:
market_data.head()

      Date   Price  Open  High  Low       Vol.  Change %
0  Aug 2010    0.1   0.1   0.1  0.0   221740.0      0.00
1  Sep 2010    0.1   0.1   0.2  0.1   216810.0      0.00
2  Oct 2010    0.2   0.1   0.2  0.0  1110000.0    210.99
3  Nov 2010    0.2   0.2   0.5  0.1   826250.0      0.00
4  Dec 2010    0.3   0.2   0.3  0.2   263650.0     44.09

In [4]:
for col in market_data.columns:
    print(type(market_data[col][0]))

<class 'str'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>